{ pkgs, ... }:
{
    networking.hostName = "YOURHOSTNAME"; # Define your hostname.
    
    /* set default wifi */
    networking.wireless.networks = {
        YOUR_SSID = {
            psk = "YOUR PASSWORD";
        };
    };

    # Define a user account. Don't forget to set a password with ‘passwd’.
    users.users.YOURUSERNAME = {
        isNormalUser = true;
        extraGroups = [ 
            "wheel" # Enable ‘sudo’ for the user.
            "docker"
        ]; 
        shell = pkgs.nushell;
    };
}
